<!DOCTYPE html>
<html>

<head>

 
  <meta charset="utf-8">
  <title></title>
</head>

<body>
    

    <div class="additems">

  <h1>Edit Item </h1>
  

  <tbody>
      
      <form id="add-grocery-form" action="/show/" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Price:</label>
        <input type="text" name="price">
        
        done: <input type="checkbox" name="done" /><br />
        <input type="submit" name="" value="Update Grocery Item" />
       </form>
      
    </tbody>
  </div>
</body>

</html>