<!DOCTYPE html>
<html>

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <%- include('../partials/header') %>
  <h1>Grocery List show page</h1>

  <tbody>
    <% groceryList.forEach(function(m) { %>
      <tr>
       
        <td><a href="/<%= m._id %>"><%= m.name %></a></td>
      </tr>
      <br>
      <% }); %>

      
    </tbody>
  
    <article class="addButton">
      <div style = "position:relative; top:200px;">
        <!-- <div style = "position:relative; right:500px;"> -->
        <h4><a href="/new">Add New Grocery List</a></h4>
      </article>

      <article class="addButton">
        <div style = "position:relative; top:200px;">
          <!-- <div style = "position:relative; right:500px;"> -->
          <h4><a href="/creategrocery">Add New Grocery</a></h4>
        </article>
</body>

</html>