<!DOCTYPE html>
<html>

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Fruits show page</h1>
  The <%=fruit.name; %> is <%=fruit.color; %>.
  <% if(fruit.readyToEat === true){ %>
  It is ready to eat
  <% } else { %>
  It is not ready to eat
  <% } %>
  <nav>
    <a href="/groceryList">Back to Fruits Index</a>
  </nav>
</body>

</html>